/* imported tailwindcss */
@import "tailwindcss";

/* custom styles */
@layer base {
  :root {
    /* colors */
    /* primary colors */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /* neutral colors */
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 100%, 100%);
    --lightbox-bg-color: hsla(0, 0%, 0%, 0.75);
    --overlay-color: hsla(0, 0%, 0%, 0.6);

    /* fonts */
    --font-size: 1rem;
    --font-family: "Kumbh Sans", sans-serif;
    --font-weight-400: 400;
    --font-weight-700: 700;

    /* cart icon */
    .cart {
      position: relative;
    }

    /* carts quantity styles */
    .cart::after {
      width: 26px;
      height: 18px;
      position: absolute;
      content: attr(data-cart-counter);
      right: -10px;
      top: -10px;
      background-color: var(--orange);
      color: var(--white);
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-block: 7px;
      opacity: 0;
      cursor: pointer;
    }

    /* carts quantity styles to be used dynamically be javascript */
    .cart.active::after {
      opacity: 1;
    }
  }
}

/* utility styles */
@layer utilities {
  .border-bottom {
    @apply lg:border-[var(--orange)] lg:hover:border-b-4;
  }

  .padding-bottom {
    @apply hover:pb-[3rem];
  }

  /* overlay to be used dynamically by javascript  to show overlay*/
  .overlay {
    @apply absolute top-0 left-0 z-[6px] hidden min-h-[100%] w-screen bg-[var(--overlay-color)] lg:z-10;
  }

  /*to be used dynamically by javascript to show or hide element */
  .block {
    @apply block;
  }

  /* hover on product images */
  .image-hover {
    @apply hover:opacity-60;
  }

  /* outline for product images/ lightbox images to be used by javascript */
  .image-outline {
    @apply outline-4 outline-[var(--orange)];
  }

  /* to be used to show the lightbox container by javascript */
  .lightbox.active {
    @apply flex;
  }
}
